#ifndef SECRETS_H
#define SECRETS_H

// ⚠️ COPY this file to secrets.h and fill with your credentials

const char* ssid = "YOUR_SSID";
const char* password = "YOUR_PASSWORD";

const char* apiKey = "YOUR_API_KEY";

#endif