#ifndef SECRETS_H
#define SECRETS_H

// ⚠️ COPY this file to secrets.h and fill with your credentials

const char* ssid = "YOUR_SSID";
const char* password = "YOUR_PASSWORD";

const char* apiKey = "YOUR_API_KEY";
const String BASE_URL = "http://api.thingspeak.com/update?api_key="+ String(apiKey);

//Ambient
const int temp_max_C = 40;
const int temp_min_C = 20;
const int humi_max = 70;
const int humi_min = 50;

#endif